.container {
  height: 80px;
  background-color: rgb(167, 158, 158);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  padding-left: 100px;
}
.form {
  position: relative;
}
.search {
  height: 40px;
  width: 400px;
  padding-left: 20px;
  border-radius: 10px;
  border: none;
  outline: transparent;
}
.btn {
  position: absolute;
  top: 7px;
  right: 14px;
  border: none;
  background-color: transparent;
}
.icon {
  height: 24px;
  width: 24px;
  fill: rgb(87, 86, 87);
  transition: transform 250ms linear;
  &:hover,
  &:focus {
    transform: scale(125%) rotate(180deg);
  }
}
